@import "../../../scss/variables";

.ability-score-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  width: 30%;
  height: 45%;
  min-width: 155px;

  .counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .score-display {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: $background-highlight-color;
      border-radius: 100%;

      border: solid 4px white;

      width: 115.69px;
      height: 115.69px;

      div {
        color: $text-color;
        font-family: $text-font;
        font-size: 36px;
        font-weight: 700;
        line-height: 46px;
        min-width: 40px;
        text-align: center;
      }

      button {
        position: relative;

        display: flex;
        align-items: space-between;

        justify-content: center;

        background-color: transparent;
        border: none;
        border-radius: 100%;

        color: $text-color;

        font-family: $text-font;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;

        margin: 0 20px 0 20px;

        min-width: 37px;
        height: 37px;
        border-radius: 100%;
        background-color: white;
      }
      button:disabled {
        visibility: hidden;
      }
      button:hover{
        -webkit-box-shadow: 0 0 2px 2px #ccc;  
        -moz-box-shadow:    0 0 2px 2px #ccc;  
        box-shadow:         0 0 2px 2px #ccc;
      }
      button svg {
        fill: $background-highlight-color;
      }
    }

    .display-bonus {
      position: absolute;
      bottom: 0;
      transform: translateY(30%);

      background-color: #1c1c1c;
      border: 2px solid white;
      border-radius: 10px;
      width: 50px;
      height: 30px;

      color: $text-color;
      font-family: $text-font;
      font-size: 23px;
      font-weight: 700;
      text-align: center;

      justify-content: center;
      align-items: center;
    }
  }

  .attribute {
    color: $text-color;
    font-family: $heading-font;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 33px;
    width: 183px;
    text-align: center;
    text-transform: capitalize;

    margin: 20px 0 10px 0;

    display: flex;
    flex-direction: row;
    justify-content: center;

    .chevron-anchor {
      width: 32px;
      position: relative;
      .chevron-tooltip {
        font: 14px $text-font;
        color: white;
        background-color: #1c1c1c;
        position: absolute;
        display: inline-block;
        top: 30px;
        right: -25px;
        border-radius: 10px;
        width: 100px;
        padding: 15px;
        text-transform: none;
      }
      .chevron-tooltip::after {
        content: " ";
        position: absolute;
        bottom: 100%;
        left: 90%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #1c1c1c transparent;
      }
      .chevron {
        position: absolute;
        top: -20%;
        left: 10%;
        fill: none;
        width: 32px;
        height: 32px;
      }

      button {
        background-color: transparent;
        border: none;
        width: 32px;
        height: 32px;

        .chevron {
          position: absolute;
          top: -20%;
          left: 10%;
          fill: none;
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  p {
    color: $text-color;
    font-family: $text-font;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1px;
    width: 183px;
    text-align: center;
    margin: 0;

    span {
      font-family: $heading-font;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 1px;
    }
  }
}
